:root {
    --main-red: #AC131C;
}

.content-section-black {
    width: 100%;
    background: #000;
    color: #fff;
    height: 100%;
    display: grid;
    align-items: center;
}

.content-header {
    font-size: 2.5rem;
}

.social-icons-location {
    margin-left: 0;
}

.social-icons-location i {
    margin: 0 20px 15px 0;
}

.home[data-v-fae5bece] {
    margin: 0;
}

/* DESKTOP CSS */
@media(min-width: 768px) {
    .content-section-black p {
        width: 50%;
        margin: 15px auto;
        padding: 35px 0;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}

/* Mobile CSS */
@media(max-width: 768px) {
    .content-section-black p {
        padding: 25px 10px;
    }
}